{{ define "main" }}
<h1 class="font-semibold my-20">{{ with .Params.emoji }}{{ . }} {{ end }}{{ .Title }}</h1>
<div>
  {{ range .RegularPages.ByDate.Reverse }}
  <article class="mb-4">
    <header class="mb-2 flex row justify-between">
      <h2 class="font-semibold">
        {{ with .Params.emoji }}{{ . }}{{ else }}→{{ end }} <a href="{{ .RelPermalink }}"
          class="text-darker dark:text-gray-100 underline capitalize">{{ .Title }}</a>
      </h2>
      {{ with .Date }}
      <h3 class="pl-8 text-gray-600 text-xs"> {{ dateFormat "02 January 2006" . }}</h3>
      {{ end }}
    </header>
  </article>
  {{ end }}
</div>
{{ end }}
