{{ $url := urls.Parse .url }}
<div class=" max-w-xl my-8 bg-white border border-gray-300  rounded-sm flex flex-row">
  <div class="w-3/4">
    <div class="ml-4 text-sm text-gray-800 mt-2 tracking-normal"><a href="{{.url}}">{{.name}}</a></div>
    <p class="ml-4 text-xs text-gray-700 mr-1">
      {{.description | truncate 100}}
    </p>
    <span class=" ml-4 block pb-4 text-xs text-gray-500">
      <a class="text-gray-500 no-underline" href="{{ .url }}">website</a>
      {{ with .email }}
       • <a class="text-gray-500 no-underline" href="mailto:{{ . }}">email</a>
      {{ end }}
      {{ with .phone }}
       • {{ . }}
      {{ end }}
    </span>
  </div>
  <div class=" w-1/4 overflow-hidden">
    <img src="/shops/{{.image}}" alt="{{.name}}" class="min-h-full h-32 w-full max-w-none object-cover">
  </div>
</div>
